@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
:root {
  --v1-text: #ffffff;
  --v1-bg: #5546ff;
  --v1-stroke: #1c1c1c;
  --v2-text: #010101;
  --v2-bg: #bfff0a;
  --v2-stroke: #ffffff;
  --v3-text: #ffffff;
  --v3-bg: #010101;
  --v3-stroke: #6f6f6f;
  --text-color: var(--v1-text);
  --bg-color: var(--v1-bg);
  --stroke-color: var(--v1-stroke);
  --font-family: "Anton", sans-serif;
}

@supports selector(:has([value="v2"]:checked)) {
  :root:has([value=v2]:checked) {
    --text-color: var(--v2-text);
    --bg-color: var(--v2-bg);
    --stroke-color: var(--v2-stroke);
  }
  :root:has([value=v3]:checked) {
    --text-color: var(--v3-text);
    --bg-color: var(--v3-bg);
    --stroke-color: var(--v3-stroke);
  }
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
  transition: background-color 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: 400;
}

/* For Theme Toggler */
.theme {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #ffffff;
  padding: 0.8em 1em;
  font-size: clamp(0.75rem, 1vw, 1rem);
  border-radius: 10em;
}
@supports not selector(:has([value="v2"]:checked)) {
  .theme {
    display: none;
  }
}
.theme__toggler {
  display: block;
  width: 2em;
  aspect-ratio: 1/1;
  border-radius: 50em;
  border: 2px solid transparent;
  background-color: currentColor;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.theme__toggler:checked {
  border-color: #000000;
}
.theme__toggler[value=v1] {
  background-color: var(--v1-bg);
}
.theme__toggler[value=v2] {
  background-color: var(--v2-bg);
}
.theme__toggler[value=v3] {
  background-color: var(--v3-bg);
}
.theme__toggler[value=v3]:checked {
  border-color: var(--v1-bg);
}

.header {
  display: grid;
  place-items: center;
  min-height: 100vh;
  min-height: 100svh;
  overflow: clip;
}

.slider {
  --_duration: 3s;
  --_stagger: 0.015s;
  --_timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  --_rotate: 90;
  --_height: 1.5em;
  text-align: center;
  list-style-type: none;
  font-size: clamp(2rem, 7vw, 8rem);
  height: var(--_height);
  overflow-y: clip;
}
.slider__slide {
  display: flex;
  justify-content: center;
  line-height: var(--_height);
  perspective: 10em;
  text-transform: uppercase;
}
.slider__slide:first-of-type {
  animation: slideAnimation calc(var(--_duration) * var(--_total-slides)) steps(var(--_total-slides), jump-end) infinite;
}
@keyframes slideAnimation {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: calc(var(--_height) * var(--_total-slides) * -1);
  }
}
.slider__slide__character {
  display: inline-block;
  opacity: 0;
  transform-style: preserve-3d;
  -webkit-text-stroke: 0.016em var(--stroke-color);
  text-shadow: 0.039em 0.039em var(--stroke-color);
  animation: characterAnimation var(--_duration) var(--_timing-function) infinite;
  animation-delay: calc(var(--i) * var(--_stagger));
}
@keyframes characterAnimation {
  0% {
    opacity: 0;
    transform: translate3d(0, 1em, 0) rotate3d(1, 0, 0, calc(var(--_rotate) * -1deg));
    transform-origin: left top;
  }
  10%, 90% {
    opacity: 1;
    transform: translate3d(0, 0em, 0) rotate3d(1, 0, 0, 0deg);
    transform-origin: left center;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -1em, 0) rotate3d(1, 0, 0, calc(var(--_rotate) * 1deg));
    transform-origin: left bottom;
  }
}/*# sourceMappingURL=style.css.map */